<a href="https://colab.research.google.com/github/Alyna52/CLASSES-IN-PYTHON-ALYNA-AYAZ-FA24-BBD-011-/blob/main/ALYNA_AYAZ_(FA24_BBD_011).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#TASK ONE:

import pandas as pd

df = pd.read_csv("melb_data.csv")

missing_values = df.isna().sum()

missing_percent = (missing_values/len(df)) * 100

columns_to_drop = missing_percent[missing_percent > 20].index.tolist()

df.drop(columns=columns_to_drop, inplace=True)

numerical_cols = df.select_dtypes(include=['number']).columns
df[numerical_cols] = df[numerical_cols].fillna(df[numerical_cols].median())

categorical_cols = df.select_dtypes(include=['object']).columns
for col in categorical_cols:
    df[col].fillna(df[col].mode()[0], inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  int64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  int64
 10  Bedroom2       13580 non-null  int64
 11  Bathroom       13580 non-null  int64
 12  Car            13580 non-null  float64
 13  Landsize       13580 non-null  int64
 14  CouncilArea    13580 non-null  object
 15  Lattitude      13580 non-null  float64
 16  Longtitude     13580 non-null  float64
 17  Regionname     13580 non-null  object
 18  Propertycount  13580 non-null  int64
dtypes: float64(4), int64(7), object(8)
memory usage: 2.0+ MB

<ipython-input-2-9114bb8ccb9e>:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

In [5]:
#TASK TWO:

import pandas as pd

df = pd.read_csv("melb_data.csv")
richmond_houses = df[(df["Suburb"] == "Richmond") & (df["Price"] >1000000)]
print("Properties in Richmond with a price greater than 1000000 are:")
print(richmond_houses.head())

df_filtered = df.loc[df["Landsize"] > 500, ["Price", "Suburb", "BuildingArea"]]
print(df_filtered.head())

df_sorted = df.sort_values(by= "Price", ascending= False)
print("five most expensive houses are:")
print(df_sorted.head())

Properties in Richmond with a price greater than 1000000 are:
        Suburb          Address  Rooms Type    Price Method        SellerG  \
5257  Richmond       81 Erin St      3    h  1260000      S         Biggin
5258  Richmond  52 Lyndhurst St      3    t  1236000      S         Jellis
5263  Richmond        7 Bank St      3    h  1600000      S  hockingstuart
5264  Richmond      29 Bowen St      3    h  2180000     PI           Blue
5266  Richmond      131 Lord St      4    h  3335000      S         Jellis

           Date  Distance  Postcode  ...  Bathroom  Car  Landsize  \
5257   3/9/2016       2.6      3121  ...         1  0.0       203
5258   3/9/2016       2.6      3121  ...         2  1.0       675
5263  3/12/2016       2.6      3121  ...         2  1.0       115
5264  3/12/2016       2.6      3121  ...         2  2.0       345
5266  3/12/2016       2.6      3121  ...         2  2.0       319

      BuildingArea  YearBuilt  CouncilArea Lattitude  Longtitude  \
5257          81.0     1900.0        Yarra  -37.8166    144.9945
5258           NaN        NaN        Yarra  -37.8206    145.0003
5263           NaN        NaN        Yarra  -37.8163    144.9984
5264           NaN        NaN        Yarra  -37.8159    144.9940
5266           NaN     1893.0        Yarra  -37.8244    145.0044

                 Regionname Propertycount
5257  Northern Metropolitan         14949
5258  Northern Metropolitan         14949
5263  Northern Metropolitan         14949
5264  Northern Metropolitan         14949
5266  Northern Metropolitan         14949

[5 rows x 21 columns]
      Price        Suburb  BuildingArea
20  1330000    Abbotsford         135.0
22  1090000    Abbotsford          27.0
45   720000  Airport West           NaN
46   785000  Airport West         127.0
47   725000  Airport West         186.0
five most expensive houses are:
            Suburb         Address  Rooms Type    Price Method       SellerG  \
12094     Mulgrave     35 Bevis St      3    h  9000000     PI          Hall
7692    Canterbury  49 Mangarra Rd      5    h  8000000     VB     Sotheby's
9575      Hawthorn    49 Lisson Gr      4    h  7650000      S  Abercromby's
3616           Kew     15 Barry St      6    h  6500000      S        Jellis
12557  Middle Park     136 Page St      5    h  6400000      S      Marshall

             Date  Distance  Postcode  ...  Bathroom  Car  Landsize  \
12094  29/07/2017      18.8      3170  ...         1  1.0       744
7692   13/05/2017       9.0      3126  ...         5  4.0      2079
9575   17/06/2017       5.3      3122  ...         2  4.0      1690
3616   13/08/2016       5.6      3101  ...         6  3.0      1334
12557    9/9/2017       3.0      3206  ...         2  1.0       553

       BuildingArea  YearBuilt  CouncilArea Lattitude  Longtitude  \
12094         117.0     1960.0       Monash -37.93168   145.16126
7692          464.3     1880.0   Boroondara -37.81790   145.06940
9575          284.0     1863.0   Boroondara -37.82652   145.03052
3616          365.0     1890.0   Boroondara -37.80290   145.02670
12557         308.0     1920.0          NaN -37.84908   144.95753

                       Regionname Propertycount
12094  South-Eastern Metropolitan          7113
7692        Southern Metropolitan          3265
9575        Southern Metropolitan         11308
3616        Southern Metropolitan         10331
12557       Southern Metropolitan          2019

[5 rows x 21 columns]

In [10]:
#TASK THREE:

if "Price" in df.columns and "Rooms" in df.columns:
    df["Price_per_Room"] = df["Price"] / df["Rooms"]

if "Date" in df.columns:
    df["Date"] = pd.to_datetime(df["Date"], errors='coerce')
    df.dropna(subset=["Date"], inplace=True)
    df["Year_Sold"] = df["Date"].dt.year

In [11]:
#TASK FOUR:

import pandas as pd


df = pd.read_csv("melb_data.csv")

suburb_avg_price = df.groupby("Suburb")["Price"].mean()
print("Average price per suburb:")
print(suburb_avg_price)

properties_per_suburb = df.groupby("Suburb")["Price"].count()
print("\nTotal properties sold per suburb:")
print(properties_per_suburb)

most_expensive_suburb = suburb_avg_price.idxmax()
print("\nMost expensive suburb:", most_expensive_suburb)

Average price per suburb:
Suburb
Abbotsford      1.060366e+06
Aberfeldie      1.277455e+06
Airport West    7.566567e+05
Albanvale       5.370833e+05
Albert Park     1.941355e+06
                    ...
Wonga Park      9.000000e+05
Wyndham Vale    4.832500e+05
Yallambie       8.396875e+05
Yarra Glen      6.200000e+05
Yarraville      9.886155e+05
Name: Price, Length: 314, dtype: float64

Total properties sold per suburb:
Suburb
Abbotsford       56
Aberfeldie       44
Airport West     67
Albanvale         6
Albert Park      69
               ...
Wonga Park        1
Wyndham Vale      4
Yallambie        24
Yarra Glen        1
Yarraville      164
Name: Price, Length: 314, dtype: int64

Most expensive suburb: Kooyong

In [12]:
#TASK FIVE:

df.to_csv("cleaned_melb_data.csv", index=False)
profile = ProfileReport(df, title="Pandas Profiling Report", explorative=True)
profile.to_file("pandas_profiling_report.html")

NameError: name 'ProfileReport' is not defined

In [ ]:
median_price = df["Price"].median()
df["Category"] = df["Price"].apply(lambda x: "Expensive" if x > median_price else "Affordable")
correlation = df[["Price", "Rooms"]].corr()